body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

#giao-dien-admin {
    display: flex;
    width: 100%;
}

#menu-ben-trai {
    background-color: #171917;
    color: #ecf0f1;
    width: 20%;
    padding: 20px 10px;
    height: 100%;
}
#menu-ben-trai #logo{
    width: 90%;
    margin: auto;
}
#menu-ben-trai #logo img{
    max-width: 100%;
    padding-bottom: 20px;
}

/* #logo{
    margin: 0;
} */
#menu-chuc-nang .chuc-nang{
    display: flex;
    align-items: center;
    width: 100%;
    height: 55px;
    font-size: 17px;
    cursor: pointer;
}
#menu-chuc-nang .chuc-nang img{
    width: 20px;
    height: 20px;
    padding-left: 40px;
}
#menu-chuc-nang #active{
    background-color: #2980b9;
}
#menu-chuc-nang .chuc-nang a{
    text-decoration: none;
    color: white;
    padding-left: 20px;

}



/* #menu-chuc-nang li {
    width: 100%;
    height: 50px;
    display: flex;
    cursor: pointer;
}
#menu-chuc-nang li img{
    width: 10px;
    height: 10px;
}
#menu-chuc-nang li a{
    text-decoration: none;
    color: #fff;
    margin: 16px 60px;
}

#menu-chuc-nang ul #chon {
    background-color: #2980b9;
    
} */

#noi-dung-chinh {
    width: 80%;
    padding: 20px;
}

#tieu-de-trang {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#tieu-de-trang h1 {
    margin: 0;
}

#tai-khoan {
    cursor: pointer;
    text-align: center;
    padding: 10px 0px;
}
#tai-khoan .hinh{
    width: 30px;
    padding: 0px 50px;
}
#tai-khoan .hinh img{
    max-width: 100%;
    
}
/* bo cuc */
#noi-dung-chinh #content{
    display: flex;
    flex-wrap: wrap;
    /* background-color: red; */
    padding: 20px;
}
#content .doanhso {
    width: 65%; /* Chiếm toàn bộ chiều ngang */
    max-width: 650px; /* Giới hạn chiều rộng tối đa */
    text-align: center;
    margin-bottom: 3%;
    background-color: #E9E9E9;
    padding: 20px; /* Tạo khoảng trống bên trong */
    border-radius: 7px;
}

#content .doanhso .bieudo {
    margin: 20px auto; /* Căn giữa biểu đồ */
    max-width: 95%; /* Đặt chiều rộng tối đa của biểu đồ */
    height: 500px; /* Tăng chiều cao của biểu đồ */
    background-color: white;
}


#content .donhang{
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: calc(35% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
    padding-bottom: 30px;
    background-color: #E9E9E9 ;
    border-radius: 7px;
}
#content .donhang table{
    text-align: center;
    border-collapse: collapse;    
}
#content .donhang table th{
    background-color: #f2f2f2;
    padding: 7px;
    border: 1px solid gray;
}
#content .donhang table td{
    padding: 7px;
    border: 1px solid gray;
}
#content .binhluan{
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    padding-bottom: 10px;
    background-color: #E9E9E9 ;
}
#content .binhluan table{
    text-align: center;
    border-collapse: collapse;
}
#content .binhluan table th{
    background-color: #f2f2f2;
    padding: 7px;
    border: 1px solid gray;
}
#content .binhluan table td{
    padding: 7px;
    border: 1px solid gray;
}
#content .binhluan table td button{
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
#content .banchay{
    width: calc(65% - 20px);
    max-width: 670px;
    margin-left: 20px;
    background-color: #E9E9E9 ;
    border-radius: 7px;
}
#content .banchay .sp{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
#content .banchay .sp .hinh{
    width: 40%;
}
#content .banchay .sp .hinh img{
    max-width: 100%;
}
#content .banchay .sp .info{
    margin-left: 20px;
}